<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

</head>
<body>


    <div class="btna">
      <span class="fas fa-bars"></span>
    </div>


<nav class="sidebar" th:fragment = "nav-sidebar">
      <div class="text">
RH-WEB</div>
<ul>
<li class="active"><a href="/">Home</a></li>

<!--submenu configuracoes-->

<li>
          <a  class="k-btn">Configurações
            <span class="fas fa-caret-down eleventh"></span>
          </a>
          <ul class="k-show">
          
          
          
          
<li>
          <a  class="l-btn">Operadores
            <span class="fas fa-caret-down twelfth"></span>
          </a>
          <ul class="l-show">
<li><a href="#">Cadastro de Operadores</a></li>
<li><a href="#">Cadastro de Privilégios (níveis de acessso)</a></li>
</ul>
</li>
          
          
<li>
          <a  class="g-btn">Unidades de Saúde
            <span class="fas fa-caret-down seventh"></span>
          </a>
          <ul class="g-show">
<li><a href="#">Cadastro de Regime de Unidade de Lotação</a></li>
</ul>
</li>
          
          
          
          
          
          
          
          
          
<li>
          <a  class="a-btn">RH - Carreiras
            <span class="fas fa-caret-down first"></span>
          </a>
          <ul class="a-show">
<li><a href="#">Cadastro de Carreiras</a></li>
<li><a href="#">Cadastro de Níveis Carreira</a></li>
<li><a href="#">Cadastro de Classes</a></li>
</ul>
</li>
          
          
          
 <li>
          <a  class="b-btn">RH - Cargos
            <span class="fas fa-caret-down second"></span>
          </a>
          <ul class="b-show">
<li><a href="#">Cadastro de Cargos</a></li>
<li><a href="#">Cadastro de Especialidades - Cargo</a></li>
<li><a href="#">Cadastro de Níveis do Cargo</a></li>

</ul>
</li>         
          
          

          
<li>
          <a  class="c-btn">RH - Pessoais
            <span class="fas fa-caret-down third"></span>
          </a>
          <ul class="c-show">
<li><a href="#">Cadastro de Escolaridade</a></li>
<li><a href="estadosCivis/cadastrar">Cadastro de Estados Civis</a></li>
<li><a href="sexos/cadastrar" >Cadastro de Sexo</a></li>
<li><a href="#">Cadastro de Tipos de Filiação</a></li>
</ul>
</li>



<li>
          <a  class="d-btn">RH - Profissionais
            <span class="fas fa-caret-down fourth"></span>
          </a>
          <ul class="d-show">
<li><a href="#">Cadastro de Carga Horaria Semanal</a></li>
<li><a href="#">Cadastro de Tipos de Folha</a></li>
<li><a href="#">Cadastro de Situações</a></li>
<li><a href="#">Cadastro de Vínculos</a></li>
<li><a href="#">Cadastro de Bancos</a></li>
</ul>
</li>          
          
          
          
<li>
          <a  class="e-btn">RH - Regionais
            <span class="fas fa-caret-down fifth"></span>
          </a>
          <ul class="e-show">
<li><a href="#">Cadastro de Países</a></li>
<li><a href="#">Cadastro de UF</a></li>
<li><a href="#">Cadastro de Cidades</a></li>
<li><a href="#">Cadastro de Tipos de Logradouro</a></li>
</ul>
</li>          
          
          
<li>
          <a  class="f-btn">RH - Tipos de Documento
            <span class="fas fa-caret-down sixth"></span>
          </a>
          <ul class="f-show">
<li><a href="#">Cadastro de Categorias de Habilitação Trânsito</a></li>
<li><a href="#">Cadastro de Tipos de Documento</a></li>
<li><a href="#">Cadastro de Conselhos</a></li>
</ul>
</li>
          






</ul>
</li>





















<li>
          <a href="#" class="h-btn">Recursos Humanos
            <span class="fas fa-caret-down eighth"></span>
          </a>
          <ul class="h-show">
          
          
<li>
          <a href="#" class="i-btn">Cadastro de Pessoas
            <span class="fas fa-caret-down nineth"></span>
          </a>
          <ul class="i-show">
<li><a href="#">Cadastro de Pessoas</a></li>
</ul>
</li>          
          

<li>
          <a href="#" class="j-btn">Cadastro de Unidades
            <span class="fas fa-caret-down tenth"></span>
          </a>
          <ul class="j-show">
<li><a href="#">Cadastro de Unidades</a></li>
</ul>
</li>


<li><a href="#">Cadastro de Autorizações</a></li>
          

</ul>
</li>













<li>
          <a href="#" class="m-btn">Menu 12
            <span class="fas fa-caret-down thirteenth"></span>
          </a>
          <ul class="m-show">
<li><a href="#">App Design</a></li>
<li><a href="#">Web Design</a></li>
</ul>
</li>



<li>
          <a href="#" class="n-btn">Menu 13
            <span class="fas fa-caret-down fourteenth"></span>
          </a>
          <ul class="n-show">
<li><a href="#">App Design</a></li>
<li><a href="#">Web Design</a></li>
</ul>
</li>



<li>
          <a href="#" class="o-btn">Menu 14
            <span class="fas fa-caret-down fifteenth"></span>
          </a>
          <ul class="o-show">
<li><a href="#">App Design</a></li>
<li><a href="#">Web Design</a></li>
</ul>
</li>



<li>
          <a href="#" class="p-btn">Menu 15
            <span class="fas fa-caret-down sixteenth"></span>
          </a>
          <ul class="p-show">
<li><a href="#">App Design</a></li>
<li><a href="#">Web Design</a></li>
</ul>
</li>



<li>
          <a href="#" class="q-btn">Menu 16
            <span class="fas fa-caret-down seventeenth"></span>
          </a>
          <ul class="q-show">
<li><a href="#">App Design</a></li>
<li><a href="#">Web Design</a></li>
</ul>
</li>



<li>
          <a href="#" class="r-btn">Menu 17
            <span class="fas fa-caret-down eighteenth"></span>
          </a>
          <ul class="r-show">
<li><a href="#">App Design</a></li>
<li><a href="#">Web Design</a></li>
</ul>
</li>



<li>
          <a href="#" class="s-btn">Menu 18
            <span class="fas fa-caret-down nineteenth"></span>
          </a>
          <ul class="s-show">
<li><a href="#">App Design</a></li>
<li><a href="#">Web Design</a></li>
</ul>
</li>


<li>
          <a href="#" class="t-btn">Links Úteis
            <span class="fas fa-caret-down twentyth"></span>
          </a>
          <ul class="t-show">
<li><a href="https://www.gov.br/saude/pt-br"target="_blank">Ministério da Saúde</a></li>
<li><a href="https://www.saude.al.gov.br/"target="_blank">Saúde AL - SESAU</a></li>
<li><a href="http://www.agenciaalagoas.al.gov.br/"target="_blank">Agência Alagoas</a></li>
<li><a href="https://www.gov.br/inss/pt-br" target="_blank">INSS</a></li>
<li><a href="http://www.alagoasprevidencia.al.gov.br/" target="_blank">AL Previdência</a></li>
<li><a href="https://portaldoservidor.seplag.al.gov.br/login/"target="_blank">Contracheque Seplag</a></li>
<li><a href="http://sishge.saude.al.gov.br:8080/index.php?class=LoginForm"target="_blank">Sistema Web HGE</a></li>







</ul>
</li>











<li><a href="#">Login</a></li>
<li><a href="#">Logout</a></li>
</ul>
</nav>

</body>
</html>